.place__title {
    padding-top: 72px;
    margin-top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 65px;
    font-family: 'Inter', Arial,  sans-serif;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        padding-left: 16px;
        padding-top: 32px;
    }
}