.comments__container {
    width: 32%;
}

@media screen and (max-width: 950px) {
    .comments__container {
        padding-top: 40px;
        width: 55%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .comments__container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .comments__container {
        width: 100%;
    }
}