.place__paragraphs {
    max-width: 484px;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .place__paragraphs {
        max-width: 350px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraphs {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        margin: 0 auto;
    }
}

