.comments__author {
    padding-top: 0px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Inter', Arial,  sans-serif;
}

@media screen and (max-width: 950px) {
    .comments__author {
        text-align: center;
    }
}